streamlit
streamlit_cropper
#opencv-python
opencv-python-headless
tensorflow
scikit-learn
matplotlib
editdistance
vietocr
PyYAML
-f https://data.pyg.org/whl/torch-1.13.0+cpu.html
torch-scatter==2.0.9
pyperclip
